#index-container {
    background-color: #575656;
    box-shadow: inset 0px 0px 90px 90px #444444;
}

.startBtnContainer {
    display: flex;
    justify-content:center;
}

#title {
    color:white;
    font-size: 7rem;
    margin-left: -30px;
}

.links:hover{
    cursor:default ;
}

.startScreenBtn {
    border-radius: 50px;
    width: 300px;
    height: 100px;
    margin: 150px;
    font-size: 3rem;;
}

.startScreenBtn:hover {
    cursor:pointer;
}

#animation1 {
    position: absolute;
    margin-left: 49%;
    background-color: orange;
    width: 40px;
    height: 400px;
    -webkit-animation: slide-bottom 3s linear infinite both;
	animation: slide-bottom 3s linear infinite both;
}

@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-1200px);
              transform: translateY(-1200px);
    }
    100% {
      -webkit-transform: translateY(1200px);
              transform: translateY(1200px);
    }
  }
@keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-1200px);
              transform: translateY(-1200px);
    }
    100% {

      -webkit-transform: translateY(1200px);
              transform: translateY(1200px);
    }
  }

#animation2 {
    position: absolute;
    margin-left: 49%;
    background-color: orange;
    width: 40px;
    height: 400px;
    -webkit-animation: slide-bottom 3s linear infinite both;
	animation: slide-bottom 3s linear infinite both;
    animation-delay: 1s;
}

  #animation3 {
    position: absolute;
    margin-left: 49%;
    background-color: orange;
    width: 40px;
    height: 400px;
    -webkit-animation: slide-bottom 3s linear infinite both;
	animation: slide-bottom 3s linear infinite both;
    animation-delay: 5s; 
}

#ani{
    z-index: 0;
}

.enter-detail-page {
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}