body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#index-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

#index-container .spacer {
  justify-content: space-around;
  flex-grow: 1;
}

.startBtnContainer {
    display: flex;
    justify-content: center;
}


.three-lights{
  display:flex;
  justify-content:center;
  align-items:center;
  bottom: 0;
  margin-bottom: 50px;
  width: 100%;
  position: fixed;
  padding: 10px;
  gap: 20px
}

.red {
  border: solid 1px black;
  background:#B81D13;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.red:hover{
  cursor: pointer;
}

.yellow {
  border: solid 1px;
  background: #EFB700;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.green {
  border: solid 1px;
  background: #008450;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.green:hover{
  cursor: pointer;
}

#page-box{
  margin-top: 40px;
}

#message{
  margin-top: 180px;
  font-size: 50px;
}

#return-button{
  float: left;
  margin-left: 40px;
}

#top-div{
  margin-right: 170px;
}