body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#index-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

#index-container .spacer {
  justify-content: space-around;
  flex-grow: 1;
}

.styledBtn {
  color: black;
  background-color: white;

  border: 2px solid red;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  
  margin-top: 10px;
  
  cursor: pointer;
}