#index-container {
    background-color: gray;
    box-shadow: inset 0px 0px 90px 90px #444444;
}

.startBtnContainer {
    display: flex;
    justify-content:center;
}

h1 {
    color:white;
    font-size: 7rem;
}

.startScreenBtn {
    border-radius: 0.5rem;
    width: 10rem;
    height: 6rem;
    margin: 7rem;
    font-size: 3rem;;
}